.titulo {
    color: blueviolet;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.entrada {
    width: 100vh;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
}

.botao {
    background: blueviolet;
    color: white;
    border: 3px solid black;
    border-radius: 10px;
}